@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body{
    background-repeat: no-repeat;
    background-size: cover;
   
    
}


.nav-item{
    font-size: 20px;   
}
.navbar-brand{
    font-size: 40px;
    font-weight: bolder;
}
.image{
    float:left;
    width="40%" 
    height="40%"
     
}  
 .headings{
    color:black;
    background-color: white;
    text-align: center;
}
.gold-words{
    color: gold;
}
.body-words{
    color: white;
}
.body-words ul {
    color: white;

}
/*About section*/
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

#brief-intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

